body {
    width: 100vw;
    height: 100vh;
    background-color: #ddeeff;
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    text-align: center;
    padding: 5px;
}